:root {
    --x-player: #ff3860;
    --y-player: #f26500;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body {
    background-color: #080a0a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.wrapper {
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 1em 0;
}

.hide {
    /* TODO : make it wrapper none */
    display: none;
}

.tiles-container {
    /* TODO : make it in the center of the page */
    /* I did this by making the body element flex */
    /* TODO : make it grid and make sure that the column and row contain 3 items and each item is 1fr */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;

    max-width: 310px;
    margin: 20px 0;
}

.playerO, .playerX {
    font-size: 2rem;
}

.tile {
    /* TODO : set the border with white solid 1px */
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 100px;
    
    /* the glossy styling */
    background: rgba(255, 255, 255, 0.122);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgb(255, 255, 255);
}

.playerX {
    /* TODO : choose the color you want for player X */
    color: var(--x-player);
    text-shadow: 0 0 5px var(--x-player);
}

.playerO {
    /* TODO : choose the color you want for player O */
    color: var(--y-player);
    text-shadow: 0 0 5px var(--y-player);
}


.reset-div {
    text-align: center;
    margin-top: 1em;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px var(--y-player);
    transition: all 0.5s;
}

#reset:hover {
    transform: scale(1.2) ;
}